;; shadow-cljs configuration
{:source-paths ["./src"]

 :nrepl {:port 9000}
 :dev-http {8080 "target/"}
 :dependencies
    [[cider/cider-nrepl "0.21.0"]]



 :builds {:app {:target :browser
                :output-dir "target/"
                :asset-path "."
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload!}
                }
          }
 }
