;; shadow-cljs configuration
{:source-paths ["./src"]

 :nrepl {:port 9000}
 :dev-http {8080 "public"}
 :dependencies [[cider/cider-nrepl "0.21.0"]
                [reagent "1.0.0"]]



 :builds {:app {:target :browser
                :output-dir "public/assets/app/js"
                :asset-path "/assets/app/js"
                :modules {:main {:entries [app.main]}}
                ;; :devtools {:after-load app.main/reload!}
                :js-options {:resolve {
                                       "ml5" {:target :global :global "ml5"}
                                       "p5" {:target :global :global "p5"}
                                       }
                             }
                ;; :release {:compiler-options {:optimizations :simple}}
                }
          }
 }
